.hero {
    background-image: url("http://happylp.happy-media.eu/wp-content/uploads/2020/01/cover-bg.png");
    @extend %blue-bg-mix;
    header {
        padding-top: 15px;
        .row {
            @include for-tablet-portrait-up {
                width: 100%;
            }            
        }
        @include for-tablet-landscape-down {
            .logo {
                width: 90%;
                img {width: 100%;}
            }
        }
    }
    .container {
        display: flex;
        &.slider {
            display: block;
        } 
        .col-6 {
            &:nth-of-type(2n+2) {
                @include for-desktop-down {
                    
                }
            }
        }
    }
    i.fa-phone {
        display: inline-block;
        float: left;
        background-color: #FFF;
        color: #415a99;
        padding: 5% 6%;
        border-radius: 5px;
        margin-top: 0;
        margin-right: 15px;
        font-size: 1.5em;
        @include for-desktop-down {
            padding: 3% 4%;
            margin-right: 5px;
        }
        @include for-tablet-landscape-down {
            margin-right: 5px;
            padding: 2% 3%;
        }
        @include for-phone-only {
            margin-right: 5px;
            padding: 1% 3%;
        }
    }
    .slider {
        position: relative;
        width: 100%;
        .video-player {
            margin: 0 15px;
            img {
                width: 100%;
            }
        }
        .arrow {
            position: absolute; 
            width: 100px;
            bottom: -50px;
            left: calc(50% - 50px);
            img {
                width: 100%;
                height: auto;
            }
            @include for-phone-only {
                width: 50px;
                left: calc(50% - 25px);
            }
        }
    }
    .lower-af {
        position: relative;
        padding-top: 25px;
        padding-bottom: 40px;
        h1 {
            font-size: 48px;
            font-weight: 700;
            color: #FFF;
            margin: 0 auto;
            text-align: center;
            span {
                display: block;
                font-size: 65%;
            }
            @include for-phone-only {
                padding-top: 10px;
                font-size: 28px;
            }
        } 
        a.button {
            @extend %button-link;
            background-color: #45BAEB;
            color: #FFF;
            @include for-tablet-portrait-down {
                margin-top: 15px;
            }
        }
        .zero-com {
            display: none;
            position: absolute;
            bottom: -10px;
            right: 30px;
            width: 200px;
            height: 200px;
            img {
                width: 100%;
                height: 100%;
            }
            @include for-phone-only {
                display: none;
            }
        }
    }
}

figure {
    &.logo {
        a {
            display: block;
        }
        img {
            width: 265px;
            height: auto;
        }
    }
}

section {
    &.contact {
        display: inline-flex;
        width: 100%;
        padding-top: 10px;
        color: #FFF;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        p {
            display: inline-block;
            float: left;
            line-height: 1.2;
        }
        h4 {
            font-size: 25px;
            font-weight: 700;
            margin-right: -15px;
            text-align:right;
            a {
                font: inherit;
                color: #FFF;
                &:hover, &:focus, &:active {
                    color: #FFF;
                    text-decoration: none;
                }
            }
        }
        @include for-desktop-down {
            .phone-talk {
                padding: 0;
            }
        }
        @include for-tablet-landscape-down {
            .col-md-6 {
                padding: 0;
            }
            .logo {
                max-width: 100%;
                img {
                    width: 100%;
                }
            }
           .phone-talk {
               p {
                   font-size: 10px;
               }
            }
            h4 {
                font-size: 21px;
                margin-right: -15px;
            }
        }
        @include for-tablet-portrait-down {
            padding-left: 10px;
            h4 {
                text-align: left;
            }
        }
        @include for-phone-only {
            padding-top: 0;
            p {
                margin-bottom: 0;
                font-size: 8px;
                line-height: 1.6;
            }
            h4 {
                padding-top: 5px;
                font-size: 14px;
            }
            .phone-talk {
                p {
                    font-size: 8px;
                }
            }
        }
    }
}
