@mixin for-phone-only {
  @media (max-width: 576px) { @content; }
}
@mixin for-tablet-portrait-down {
  @media (max-width: 767px) { @content; }
}
@mixin for-tablet-landscape-down {
  @media (max-width: 991px) { @content; }
}
@mixin for-desktop-down {
  @media (max-width: 1199px) { @content; }
}
@mixin not-for-phones {
  @media (min-width: 578px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 768px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 992px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

$theme-red-bg: #ee3527;
$theme-blue-bg: #415a99;
$theme-white-bg: #f8f8f8;
$theme-light-blue: #45baeb;

%blue-bg-mix {
    background-color: $theme-blue-bg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

%button-link {
    display: inline-block;    
    margin: 0 auto;
    max-width: 90% !important;
    height: 84px;
    margin-top: 30px;
    padding: 0 3rem;
    border-radius: 5px;    
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    line-height: 6rem;
    cursor: pointer;
    .fa {
        float: none;
        margin-left: 30px;
        margin-right: -10px;
        color: inherit;
        background-color: transparent;
        font-size: 18px;
    }
    @include for-tablet-portrait-down {
        display: block;
        margin: 0 auto;
        padding: 0 2rem;
        font-size: 16px;
        line-height: 6rem;
    }

}
